.portfolio{
    @include container-fixing;
    &__slide{
        width: 90%;
        margin: 40px auto;
        border: $medBrownColor 5px solid;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    }
    &__container{
        background-color: $darkBrownColor;
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
        &__description{
            background-color: $lightBrownColor ;
            color: $darkBrownColor;
            padding: 10px;
            width: 80%;
            text-align: left;
            border: #7A6438 5px solid;
            border-radius: 20px;
        }
        &__sider{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__link{
                background-color: $lightBrownColor ;
                color: $darkBrownColor;
                padding: 10px;
                margin: 16px 0;
                width: 40%;
                text-align: start;
                border: #7A6438 5px solid;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            &__tagblock{
                background-color: $lightBrownColor ;
                color: $darkBrownColor;
                padding: 10px;
                width: 40%;
                border: #7A6438 5px solid;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                &__tag{
                    list-style: none;
                    &__icon{
                        margin:0 15px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 992px){
        &__slide{
            width: 60%;
        }
        &__container{
            &__description{
                width:60%;
            }
            &__sider{
                width: 15%;
                flex-direction: column;
                align-items: flex-end;
                &__tagblock{
                    width: 100%;
                }
                &__link{
                    width: 100%;
                }
            }
        }
    }
}