.slideshow{
    width: 90%;
    margin: 40px auto;
    border: $medBrownColor 5px solid;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__arrows{
        color: white;
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin: 0 35px;
        width: 85%;
        z-index: 1;
        &__item{
            cursor: pointer;
            font-size: 20px;
            color: $darkBrownColor;
        }
    }
    &__text{
        display: none;
    }
    &__slide{
        width: 100%;
        height: 250px;
        border-radius: 10px;
        display: flex;
        align-items: flex-end;
        object-fit: cover;
    }
    @media screen and (min-width: 992px){
        width: 992px;
        &__arrows{
            width: 90%;
            &__item{
                font-size: 80px;
            }
        }
        &__text{
            text-align: center;
            position: absolute;
            z-index: 10;
            bottom: 0px;
            width: 100%;
            color: $darkBrownColor;
            display: block;
        }
        &__slide{
            Width: 992px;
            Height: 400px;
        }
    }
}